<h1>{{categoryName}}</h1>
{{#if products.length}}
  <div class="container">
    <div class="row">
      {{#each products}}
        <div class="col-md-3">
          <div class="card">
            <img src="/images/{{img}}" alt="{{name}}" class="card-img-top" />
            <div class="card-body">
              <h2 class="card-title">{{name}}</h2>
              <p class="card-text">{{price}}</p>
              <p class="card-text">{{priceSale}}</p>
            </div>
            <div class="card-footer d-flex justify-content-between">
              <a href="/admin/product/edit/{{_id}}">Редактировать</a>
              <a href="/admin/product/remove/{{_id}}">Удалить</a>
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
{{else}}
  <h2>Пусто</h2>
{{/if}}